.black {
    height: 12.5%;
    width: 12.5%;
    background-color: #769656;
    display: inline-flex;
    justify-content: center;
    align-content: center;
}

.white {
    height: 12.5%;
    width: 12.5%;
    background-color: #eeeed2;
    display: inline-flex;
    justify-content: center;
    align-content: center;
}

.highlighted {
    height: 12.5%;
    width: 12.5%;
    background-color: #2e312c;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
}


/* .white:hover {
    box-sizing: border-box;
    border: 4px solid crimson;
}

.black:hover {
    box-sizing: border-box;
    border: 4px solid crimson;
} */