.black {
    height: 70px;
    width: 70px;
    background-color: #769656;
    display: flex;
    justify-content: center;
    align-content: center;
}

.white {
    height: 70px;
    width: 70px;
    background-color: #eeeed2;
    display: flex;
    justify-content: center;
    align-content: center;
}

.highlighted {
    height: 70px;
    width: 70px;
    background-color: #2e312c;
    display: flex;
    justify-content: center;
    align-content: center;
}


/* .white:hover {
    box-sizing: border-box;
    border: 4px solid crimson;
}

.black:hover {
    box-sizing: border-box;
    border: 4px solid crimson;
} */