.black {
    height: 12.5%;
    width: 12.5%;
    background-color: #769656;
    display: inline-flex;
    justify-content: center;
    align-content: center;
}

.white {
    height: 12.5%;
    width: 12.5%;
    background-color: #eeeed2;
    display: inline-flex;
    justify-content: center;
    align-content: center;
}

.highlighted {
    opacity: 30%;
}